%html{lang: "en"}

%head
  %meta{content: "width=device-width, initial-scale=1", name: "viewport"}

  -# %meta{content: "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
  -# %meta{content: "IE=edge", "http-equiv" => "X-UA-Compatible"}/
  -# %meta{content: "utf-8"}/
  -# %meta{content: "width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no", content: "viewport"}/
  -# / Use title if it's in the page YAML frontmatter
  %title= current_page.data.title || "Middleman"
  %link{href: "//fonts.googleapis.com/css?family=Lato:300,400", rel: "stylesheet", type: "text/css"}/
  = stylesheet_link_tag :site
  = stylesheet_link_tag :bootstrap
  = javascript_include_tag :all

%body{class: page_classes}
  .container-fluid
    .row
      .col-sm-2
        %p Test
      .col-sm-2
        %p Test
      .col-sm-2
        %p Test

%script{src: "https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"}
%script{src: "js/bootstrap.min.js"}


  = yield
  -# = partial 'partials/footer'
